<p>peaple-list works!</p>
<person *ngFor=""let p of peaple">
    <p class="name" #name>{{p.name}}</p>
    <p class="age" #age>{{p.age}}</p>
    <p class="country" #country>{{p.country}}</p>


</person>


<div #div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta animi maiores dicta officiis alias explicabo inventore laboriosam, quod accusantium dolore in? Exercitationem voluptate fuga, pariatur error nihil minus modi ipsa? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa asperiores hic dicta nihil, et accusantium velit rem dolorum ex repellat voluptatibus quis fuga assumenda consectetur aspernatur deleniti vitae iusto ab!
</div>